<div class="text-center mt-6">
  <img src="assets/logo.png" class="logo" alt="Litskevich.ru"/>
</div>

<div class="mt-6 text-center">
  <h1 class="uppercase">Family</h1>
  <div class="grid mx-0 lg:mx-4 xl:mx-7 px-2 lg:px-3 xl:px-5">
    <div class="col-12 lg:col-6 xl:col-4">
      <li-app-card url="https://ivan.litskevich.ru"
                   image="/assets/images/ivan.jpg"
                   title="Ivan Litskevich"
                   name="Ivan Litskevich"
                   description="personal portfolio"></li-app-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <li-app-card url="http://vk.litskevich.ru"
                   image="/assets/images/vk.png"
                   title="Vladimir Litskevich"
                   name="Лицкевич Владимир Константинович"
                   description="биография и выставка работ"></li-app-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <li-app-card url="http://evk.litskevich.ru"
                   image="/assets/images/evk.png"
                   title="Eugeniy Krasavtsev"
                   name="Красавцев Евгений Васильевич"
                   description="биография и путь героя"></li-app-card>
    </div>
  </div>
</div>
