<div class="mt-6 text-center">
  <h1 class="uppercase">Applications</h1>
  <div class="grid mx-0 lg:mx-4 xl:mx-7 px-2 lg:px-3 xl:px-5">
    <div class="col-12 lg:col-6 xl:col-4">
      <li-item-card url="https://archive.litskevich.ru"
                    image="/assets/images/litskevich.png"
                    title="Archive"
                    description="Litskevich Family Archive"></li-item-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <li-item-card url="http://math.app.litskevich.ru"
                    image="/assets/images/math.png"
                    title="LMath"
                    description="Learning Math by taking Tests"></li-item-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <li-item-card url="https://lbox.app.litskevich.ru"
                    image="/assets/images/lbox.png"
                    title="LBox"
                    description="LBox Microservice Architecture Demo App"></li-item-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <li-item-card url="https://scotch.sale"
                    image="/assets/images/scotch.png"
                    title="Scotch"
                    description="Scotch - wNFT Marketplace powered by ENVELOP protocol"></li-item-card>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <li-item-card url="https://redact.app.litskevich.ru"
                    image="/assets/images/redact.png"
                    title="Redact"
                    description="Сервис для работы с документами: перевод,
                    объединение, обезличивание, замена, стилизация и пр."></li-item-card>
    </div>
  </div>
</div>
